// COLORS
$blackColor:rgb(24, 24, 24);
$whiteColor: rgb(255, 255, 255);
$blueColor:  rgb(33, 63, 125);
$greyColor:  rgba(84, 95, 125, 0.15);
$greenColor: rgb(57, 205, 204);
$ashColor:   rgb(84, 95, 125);

// FONTS
$titleFont: 'Avenir Next';
$titleFont2: 'Work Sans';
$titleFont3: 'Roboto';


// POSITIONS
$absPosition : absolute;