@media (min-width: 480px) {
  .icon-dashboard {
    margin-left: 40px;
    margin-top: 30px;
    position: absolute;
  }
  .logo-dashboard {
    margin-left: 75px;
    margin-top: 30px;
    position: absolute;
  }
  .dashboard-search {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 417px;
    height: 50px;
    margin-left: 335px;
    margin-top: 30px;
    opacity: 0.4;
    border: 1px solid #213f7d;
    border-radius: 8px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
  }
  .search-btn {
    position: absolute;
    height: 49px;
    width: 50px;
    margin-left: 702px;
    margin-top: 30px;
    background: #39cdcc;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .docs {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 19px;
    margin-left: 979px;
    margin-top: 40px;
    color: #213f7d;
    position: absolute;
  }
  .bell {
    position: absolute;
    margin-left: 1060px;
    margin-top: 40px;
    height: 19px;
  }
  .user-image {
    position: absolute;
    margin-left: 1120px;
    margin-top: 35px;
    width: 48px;
    height: 30px;
  }
  .current-user {
    position: absolute;
    margin-left: 1170px;
    margin-top: 38px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .select {
    border: 0px;
    margin-left: 1222px;
    margin-top: 40px;
  }
  .organization-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 60px;
    margin-left: 35px;
  }
  .sorganization1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 45px;
    margin-left: 35px;
  }
  .switch {
    margin-top: 65px;
    margin-left: 80px;
    position: absolute;
    width: 157px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .select-org {
    border: 0px;
    position: absolute;
    margin-top: 68px;
    margin-left: 215px;
  }
  .dashboard-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 110px;
    margin-left: 35px;
  }
  .dashboard1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 100px;
    margin-left: 35px;
  }
  .dashboard {
    margin-top: 115px;
    margin-left: 80px;
    position: absolute;
    width: 157px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .customers {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 195px;
    margin-left: 38px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .users-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 230px;
    margin-left: 33px;
  }
  .users1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 230px;
    margin-left: 40px;
  }
  .users {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 235px;
    margin-left: 80px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .guarantors-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 280px;
    margin-left: 38px;
  }
  .guarantors1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 280px;
    margin-left: 38px;
  }
  .guarantors {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 285px;
    margin-left: 80px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .loans-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 332px;
    margin-left: 38px;
  }
  .loans1-icon {
    width: 16px;
    height: 27px;
    position: absolute;
    margin-top: 337px;
    margin-left: 47px;
  }
  .loans {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 337px;
    margin-left: 80px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .handshake-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 382px;
    margin-left: 38px;
  }
  .decision {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 382px;
    margin-left: 82px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .savings-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 427px;
    margin-left: 38px;
  }
  .savings1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 418px;
    margin-left: 32px;
  }
  .savings {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 427px;
    margin-left: 82px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .requests-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 467px;
    margin-left: 40px;
  }
  .requests1-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 479px;
    margin-left: 44px;
  }
  .requests {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 474px;
    margin-left: 82px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .whitelist-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 512px;
    margin-left: 40px;
  }
  .whitelist {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 517px;
    margin-left: 82px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .karma-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 552px;
    margin-left: 40px;
  }
  .karma {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 560px;
    margin-left: 82px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  a {
    text-decoration: none;
  }
  .businesses {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 620px;
    margin-left: 38px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .organization1-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 645px;
    margin-left: 40px;
  }
  .organization2-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 655px;
    margin-left: 40px;
  }
  .organization1 {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 655px;
    margin-left: 79px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .loan-products {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 685px;
    margin-left: 40px;
  }
  .loan-products1 {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 695px;
    margin-left: 45px;
  }
  .products {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 695px;
    margin-left: 79px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .savings-products {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 720px;
    margin-left: 40px;
  }
  .savings-products1 {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 726px;
    margin-left: 40px;
  }
  .savings-product {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 725px;
    margin-left: 79px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .fees {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 750px;
    margin-left: 40px;
  }
  .fees-charges {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 758px;
    margin-left: 79px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .transactions-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 790px;
    margin-left: 40px;
  }
  .transactions1-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 790px;
    margin-left: 50px;
  }
  .transactions2-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 785px;
    margin-left: 42px;
  }
  .transactions {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 790px;
    margin-left: 77px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .services-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 825px;
    margin-left: 42px;
  }
  .services {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 825px;
    margin-left: 77px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .saccount-icon {
    width: 25px;
    height: 27px;
    position: absolute;
    margin-top: 860px;
    margin-left: 42px;
  }
  .saccount1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 866px;
    margin-left: 59px;
  }
  .service-account {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 860px;
    margin-left: 77px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .settlements-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 900px;
    margin-left: 50px;
  }
  .settlements1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 900px;
    margin-left: 50px;
  }
  .settlements {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 902px;
    margin-left: 77px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .reports-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 930px;
    margin-left: 50px;
  }
  .reports1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 932px;
    margin-left: 50px;
  }
  .reports {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 932px;
    margin-left: 77px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .settings {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 980px;
    margin-left: 38px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .preferences-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 1000px;
    margin-left: 50px;
  }
  .preferences1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: 1005px;
    margin-left: 50px;
  }
  .preferences {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 1010px;
    margin-left: 76px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #213f7d;
  }
  .pricing-icon {
    width: 20px;
    height: 27px;
    position: absolute;
    margin-top: 1037px;
    margin-left: 50px;
  }
  .pricing1-icon {
    width: 10px;
    height: 27px;
    position: absolute;
    margin-top: 1037px;
    margin-left: 55px;
  }
  .pricing {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 1042px;
    margin-left: 76px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #213f7d;
  }
  .audit-icon {
    width: 20px;
    height: 27px;
    position: absolute;
    margin-top: 1080px;
    margin-left: 50px;
  }
  .audit1-icon {
    width: 20px;
    height: 27px;
    position: absolute;
    margin-top: 1084px;
    margin-left: 49px;
  }
  .audit {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 1084px;
    margin-left: 76px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #213f7d;
  }
}

@media (max-width: 780px) {
  .icon-dashboard {
    margin-left: 30px;
    margin-top: 40px;
    position: absolute;
    width: 20.75px;
  }
  .logo-dashboard {
    margin-left: 60px;
    margin-top: 40px;
    position: absolute;
    width: 118.44px;
  }
  .dashboard-search {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 247px;
    height: 50px;
    margin-left: 30px;
    margin-top: 90px;
    opacity: 0.4;
    border: 1px solid #213f7d;
    border-radius: 8px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
  }
  .search-btn {
    position: absolute;
    height: 49px;
    width: 40px;
    margin-left: 240px;
    margin-top: 90px;
    background: #39cdcc;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .docs {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 19px;
    margin-left: 100px;
    margin-top: 15px;
    color: #213f7d;
    position: absolute;
  }
  .bell {
    position: absolute;
    margin-left: 145px;
    margin-top: 15px;
    height: 19px;
  }
  .user-image {
    position: absolute;
    margin-left: 170px;
    margin-top: 15px;
    width: 38px;
    height: 20px;
  }
  .current-user {
    position: absolute;
    margin-left: 210px;
    margin-top: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .select {
    border: 0px;
    margin-left: 257px;
    margin-top: 18px;
  }
  .organization-icon {
    position: absolute;
    width: 36px;
    height: 27px;
    margin-top: 135px;
    margin-left: 92px;
  }
  .sorganization1-icon {
    position: absolute;
    width: 36px;
    height: 27px;
    margin-top: 120px;
    margin-left: 92px;
  }
  .switch {
    position: absolute;
    margin-top: 140px;
    margin-left: 135px;
    width: 157px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  .select-org {
    visibility: hidden;
  }
  .dashboard-icon {
    position: absolute;
    width: 36px;
    height: 27px;
    margin-top: 175px;
    margin-left: 72px;
  }
  .dashboard1-icon {
    position: absolute;
    width: 36px;
    height: 27px;
    margin-top: 169px;
    margin-left: 72px;
  }
  .dashboard {
    margin-top: 180px;
    margin-left: 113px;
    position: absolute;
    width: 157px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .customers {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: 200px;
    margin-left: 60px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .users-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 250px;
    margin-left: 72px;
  }
  .users1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 250px;
    margin-left: 78px;
  }
  .users {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 250px;
    margin-left: 113px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .guarantors-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 295px;
    margin-left: 73px;
  }
  .guarantors1-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 295px;
    margin-left: 73px;
  }
  .guarantors {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 300px;
    margin-left: 113px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .loans-icon {
    width: 36px;
    height: 27px;
    position: absolute;
    margin-top: 340px;
    margin-left: 73px;
  }
  .loans1-icon {
    width: 18px;
    height: 27px;
    position: absolute;
    margin-top: 344px;
    margin-left: 83px;
  }
  .loans {
    position: absolute;
    width: 44px;
    height: 19px;
    margin-top: 344px;
    margin-left: 118px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .handshake-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: 384px;
    margin-left: 78px;
  }
  .decision {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 384px;
    margin-left: 118px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .savings-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: 424px;
    margin-left: 78px;
  }
  .savings1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: 414px;
    margin-left: 73px;
  }
  .savings {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: 424px;
    margin-left: 118px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .requests-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4607px;
    margin-left: 105px;
  }
  .requests1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4594px;
    margin-left: 110px;
  }
  .requests {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4605px;
    margin-left: 145px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .whitelist-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4564px;
    margin-left: 110px;
  }
  .whitelist {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4564px;
    margin-left: 145px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .karma-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4524px;
    margin-left: 110px;
  }
  .karma {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4524px;
    margin-left: 147px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  a {
    text-decoration: none;
  }
  .businesses {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: -4470px;
    margin-left: 70px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .organization1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4450px;
    margin-left: 110px;
  }
  .organization2-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4440px;
    margin-left: 110px;
  }
  .organization1 {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4440px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .loan-products {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4400px;
    margin-left: 110px;
  }
  .loan-products1 {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4390px;
    margin-left: 110px;
  }
  .products {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4395px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .savings-products {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4365px;
    margin-left: 110px;
  }
  .savings-products1 {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4358px;
    margin-left: 110px;
  }
  .savings-product {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4358px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .fees {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4328px;
    margin-left: 110px;
  }
  .fees-charges {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4325px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .transactions-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4290px;
    margin-left: 110px;
  }
  .transactions1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4288px;
    margin-left: 118px;
  }
  .transactions2-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4293px;
    margin-left: 113px;
  }
  .transactions {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4293px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .services-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4253px;
    margin-left: 113px;
  }
  .services {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4253px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .saccount-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4220px;
    margin-left: 110px;
  }
  .saccount1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: -4215px;
    margin-left: 129px;
  }
  .service-account {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4215px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .settlements-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4180px;
    margin-left: 110px;
  }
  .settlements1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4180px;
    margin-left: 110px;
  }
  .settlements {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4180px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .reports-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4140px;
    margin-left: 110px;
  }
  .reports1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4140px;
    margin-left: 110px;
  }
  .reports {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4140px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .settings {
    position: absolute;
    width: 157px;
    height: 19px;
    margin-top: -4080px;
    margin-left: 80px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #545f7d;
  }
  .preferences-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4055px;
    margin-left: 110px;
  }
  .preferences1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4055px;
    margin-left: 110px;
  }
  .preferences {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4055px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .pricing-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -4017px;
    margin-left: 110px;
  }
  .pricing1-icon {
    width: 15px;
    height: 27px;
    position: absolute;
    margin-top: -4017px;
    margin-left: 117px;
  }
  .pricing {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -4017px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
  .audit-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -3980px;
    margin-left: 110px;
  }
  .audit1-icon {
    width: 30px;
    height: 27px;
    position: absolute;
    margin-top: -3975px;
    margin-left: 110px;
  }
  .audit {
    position: absolute;
    width: 128px;
    height: 19px;
    margin-top: -3975px;
    margin-left: 150px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
  }
}
/*# sourceMappingURL=Dashboard.css.map */