@media (min-width: 480px) {
  .item1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 940px;
    height: 220px;
    left: 285px;
    top: 290px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .personal-info {
    position: absolute;
    width: 165px;
    height: 19px;
    left: 43px;
    top: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  .full-name {
    position: absolute;
    width: 69px;
    height: 14px;
    left: 43px;
    top: 65px;
    font-family: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .name-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 43px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .phone-number {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 203px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .phone-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 203px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .email-address {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 343px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .email-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 343px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .bvn {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 488px;
    top: 65px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .bvn-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 483px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .gender {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 618px;
    top: 65px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .gender-shown {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 618px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .marital-status {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 48px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .single {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 48px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .children {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 200px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .children-number {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 200px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .residence {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 345px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .apartment {
    position: absolute;
    width: 162px;
    height: 19px;
    left: 345px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .item2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 940px;
    height: 220px;
    left: 285px;
    top: 520px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .education-info {
    position: absolute;
    width: 202px;
    height: 19px;
    left: 43px;
    top: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  .education-level {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 43px;
    top: 65px;
    font-family: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employment-status {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 203px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employ-sector {
    position: absolute;
    width: 203px;
    height: 14px;
    left: 343px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employ-duration {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 528px;
    top: 65px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .years {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 533px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .official-email {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 48px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .email {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 48px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    color: #545F7D;
  }
  .monthly-income {
    position: absolute;
    width: 202px;
    height: 19px;
    left: 200px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .loan-repay {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 420px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .amount {
    position: absolute;
    width: 162px;
    height: 19px;
    left: 420px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
}

@media (max-width: 780px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 320px;
    height: 510px;
    left: 30px;
    top: 1300px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .personal-info {
    position: absolute;
    width: 165px;
    height: 19px;
    left: 43px;
    top: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  .full-name {
    position: absolute;
    width: 69px;
    height: 14px;
    left: 43px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .name-shown1 {
    position: absolute;
    width: 109px;
    height: 14px;
    left: 43px;
    top: 90px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #545F7D;
  }
  .phone-number {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 185px;
    top: 65px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .phone-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 185px;
    top: 85px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .email-address {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 45px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .email-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 45px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .bvn {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 188px;
    top: 135px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .bvn-shown1 {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 188px;
    top: 155px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .gender {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 48px;
    top: 210px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .gender-shown {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 48px;
    top: 225px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .marital-status {
    position: absolute;
    width: 129px;
    height: 14px;
    left: 188px;
    top: 210px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .single {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 188px;
    top: 225px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .children {
    position: absolute;
    width: 129px;
    height: 14px;
    left: 48px;
    top: 270px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .children-number {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 48px;
    top: 290px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .residence {
    position: absolute;
    width: 129px;
    height: 14px;
    left: 182px;
    top: 270px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .apartment {
    position: absolute;
    width: 162px;
    height: 19px;
    left: 168px;
    top: 290px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .item2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 322px;
    height: 510px;
    left: 30px;
    top: 1840px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
  }
  .education-info {
    position: absolute;
    width: 202px;
    height: 19px;
    left: 33px;
    top: 15px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
  }
  .education-level {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 33px;
    top: 65px;
    font-family: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employment-status {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 173px;
    top: 65px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employ-sector {
    position: absolute;
    width: 203px;
    height: 14px;
    left: 43px;
    top: 135px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .employ-duration {
    position: absolute;
    width: 202px;
    height: 14px;
    left: 43px;
    top: 195px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .years {
    position: absolute;
    width: 132px;
    height: 19px;
    left: 43px;
    top: 215px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .official-email {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 48px;
    top: 345px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .email {
    position: absolute;
    width: 202px;
    height: 19px;
    left: 48px;
    top: 365px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    color: #545F7D;
  }
  .monthly-income {
    position: absolute;
    width: 202px;
    height: 19px;
    left: 48px;
    top: 295px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
  .loan-repay {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 50px;
    top: 415px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
  .amount {
    position: absolute;
    width: 139px;
    height: 14px;
    left: 50px;
    top: 440px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
  }
}
/*# sourceMappingURL=GeneralDetails.css.map */